<!-- views/home/list.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../header/head') %>
  </head>
  <body>
    <%- include('../header/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">매장 정보</h2>

      <h5>Market List From DataBase</h5>

      <ul>
        <li><a href="/list" class="nav-link">대박 포차 궁동점</a></li>
        <li><a href="/list" class="nav-link">태평소 국밥 봉명점</a></li>
      </ul>

    </div>
  </body>
</html>
