<!-- views/home/list.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../header/head') %>
  </head>
  <body>
    <%- include('../header/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">매장 정보</h2>

      <h5>Market List From DataBase</h5>

      <ul>
        <% for(i = 0; i < list.length; i++) { %>
              <li><a href="/list" class="nav-link"><%=list[i].storeName %></a></li>
              <li><%=list[i].storeLocation %></li>
              <br>
              <br>
          <% } %>
      </ul>

    </div>
  </body>
</html>
